<section class="s-content s-content--narrow">

  <div class="content">
    <div class="row">

      <h2 class="col-12">Log in</h2>

      <div class="col-12">
        <form [formGroup]="LoginReactiveForm" (submit)="onSubmit($event)">
          <input class="form-control" type="text" formControlName="login" placeholder="Your login">
          <app-validation-message class="text-left" [control]="LoginReactiveForm.controls['login']"></app-validation-message>

          <input class="form-control" type="password" formControlName="password" placeholder="Your password">
          <app-validation-message class="text-left" [control]="LoginReactiveForm.controls['password']"></app-validation-message>

          <div class="invalid-feedback" [ngClass]="{'d-block': errorForm}">Incorrect login or password</div>
          <button type="submit">Submit</button>
        </form>
      </div>

      <h5>
        Don't have account?
        <a routerLink="/registration">Register now</a>
      </h5>

    </div>
  </div>

</section>
