<section class="s-content s-content--narrow">

  <div class="content">
    <div class="row">

      <h2 class="col-12">Log in</h2>

      <div class="col-12">
        <form [formGroup]="LoginReactiveForm" (submit)="onSubmit()">
          <input class="form-control" type="text" formControlName="uLogin" placeholder="Your login">
          <input class="form-control" type="password" formControlName="uPassword" placeholder="Your password">
          <button type="submit">Submit</button>
        </form>
      </div>

      <h5>
        Don't have account?
        <a routerLink="/registration">Register now</a>
      </h5>

    </div>
  </div>

</section>
