<header>

  <div class="top-pannel row">
    <div class="d-flex w-100 justify-content-between align-items-center align-content-center">
      <ul class="auth list-inline">
        <li *ngIf="router.url !== '/login' && ((auth$ | async)?.loggedIn !== true)" routerLink="/login">Log in</li>
        <li *ngIf="router.url !== '/login' && router.url !== '/registration' && (auth$ | async)?.loggedIn" (click)="logOut()">Log out</li>
        <li *ngIf="(router.url !== '/registration')" routerLink="/registration">Register</li>
      </ul>

      <div class="languages d-flex text-nowrap">
        <p>{{ (language$ | async)?.message }}</p>

        <ul class="list-inline text-nowrap">
          <li (click)="englishMessage()">English</li>
          <li (click)="spanishMessage()">Spanish</li>
          <li (click)="frenchMessage()">French</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="header__content row header-top">

    <ul class="header__social">
      <li>
        <a href="#0"><i class="fa fa-facebook" aria-hidden="true"></i></a>
      </li>
      <li>
        <a href="#0"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      </li>
      <li>
        <a href="#0"><i class="fa fa-instagram" aria-hidden="true"></i></a>
      </li>
      <li>
        <a href="#0"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
      </li>
    </ul> <!-- end header__social -->

    <div class="header__logo">
      <a class="logo" href="index.html">
        <img src="assets/logo.svg" alt="Homepage">
      </a>
    </div> <!-- end header__logo -->

    <div class="header__search">
      <span class="header__search-trigger" (click)="open(content)"></span>

      <ng-template #content let-c="close" let-d="dismiss">
        <div class="header__search-form">
          <label>
            <span class="hide-content">Search for:</span>
            <input type="search" class="search-field" placeholder="Type Keywords" [value]="" name="s" title="Search for:" autocomplete="off" (input)="onSearchEnter($event)" (keydown)="onSubmit($event)">
          </label>
        </div>
        <a href="#0" title="Close Search" class="header__overlay-close" (click)="d('Cross click')">Close</a>
      </ng-template>

    </div>  <!-- end header__search -->

  </div> <!-- header-content -->

  <div class="header-menu row">
    <a class="header__toggle-menu" href="#0" title="Menu"><span>Menu</span></a>

    <nav class="header__nav-wrap col-full text-center">

      <h2 class="header__nav-heading h6">Site Navigation</h2>

      <ul class="header__nav">
        <li><a href="index.html" title="">Home</a></li>
        <li class="has-children">
          <a routerLink="/articles" routerLinkActive="active" title="">Articles</a>
          <ul class="sub-menu">
            <li><a href="category.html">Lifestyle</a></li>
            <li><a href="category.html">Health</a></li>
            <li><a href="category.html">Family</a></li>
            <li><a href="category.html">Management</a></li>
            <li><a href="category.html">Travel</a></li>
            <li><a href="category.html">Work</a></li>
          </ul>
        </li>
        <li class="has-children">
          <a routerLink="/blog" routerLinkActive="active" title="" [routerLinkActiveOptions]="{exact: true}">Blog</a>
          <ul class="sub-menu">
            <li *ngFor="let blogItem of blogArr">
              <a href="/blog/{{ blogItem?.id }}">{{ blogItem?.title }}</a>
            </li>
          </ul>
        </li>
        <li><a routerLink="/about" routerLinkActive="active" title="">About</a></li>
        <li><a routerLink="/contacts" routerLinkActive="active" title="">Contacts</a></li>
      </ul> <!-- end header__nav -->

      <a href="#0" title="Close Menu" class="header__overlay-close close-mobile-menu">Close</a>

    </nav> <!-- end header__nav-wrap -->
  </div>

</header> <!-- header -->
