<article>

  <a href="/blog/{{ post?.id }}" class="article-item__thumb">
    <img [src]="post?.blog_img_small" alt="">
  </a>

  <section class="article-item__info">
    <h4><a href="/blog/{{ post?.id }}">{{ post?.title }}</a></h4>

    <section class="article-item__body">
      {{ (post?.body.length > 200) ? (post?.body | slice:0:200 ) + '...' : (post?.body) }}
    </section>

    <section class="article-item__meta">
        <span class="article-item__author"><span>By </span>
          <a href="#0" *ngFor="let item of authorsArr">
            <span *ngIf="item?.id === post?.author_id">{{item?.name}} </span>
        </a></span>
      <span class="article-item__date"><span>on </span> <time datetime="2017-12-19">{{ post?.date | date: 'LLLL d, yyyy' }}</time></span>
    </section>

  </section>

</article>
